*{
    border: 0px;
    padding: 0px;
}
.buttons_register{
    width: 30%;
    background-color: black;
    justify-content: flex-start;
    margin-right: 200px;
}
.user_data{
    
    border: 1px solid;
    margin-top: 50px;
    height: 200px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 10px;
}

.table-admin{
    text-align: center;
    margin: 15% 40px 40px 40px;
}
.table-style-admin{
    text-align: center;
    border: 2px solid black;
}
.table-cell-Admin{
    border: 1px solid black;
    text-align: center;

}
